.header {
    text-align: center;
    background: rgb(59, 147, 202);
    color:rgb(252, 252, 252);
    padding: 80px;
    height:100;

}

/* Style the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: burlywood;
}

/* Style the navigation bar links */
.navbar a {
    float: left;  /* Make sure that the links stay side-by-side */
    display: block;  /* Change the display to block, for responsive reasons (see below) */
    color: rgb(10, 1, 1); /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none;  /* Remove underline */
}


/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: rgb(26, 234, 241);
    color: black;
}

/* Ensure proper sizing */
* {
    box-sizing: border-box;
}




/* Responsive layout - when the screen is less than 400px wide, make the
navigation links stack on top of each other instead of next to each other */

@media screen and (max-width:400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

      
a:hover, a:active {
    background-color: rgb(254, 12, 12);
  }
  </style>

.but a:link, a:visited {
        background-color:#f44336;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
}

.but h1 {
    text-align: center;
    font: size 40px;;
    background-color:rgb(208, 204, 234);
    color: rgb(255, 255, 255);
    height: 200px;
   
    
    
}